<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Cont</title>
    <link rel="shortcut icon" type="image/png" href="../home/mapa.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./pricipal/style.css">
</head>
<body>
    <button class="btn" id="americaSul" onclick="Mostrar('#as')">América do Sul</button>
    <button class="btn" id="americaNorte" onclick="Mostrar('#an')">América do Norte</button>
    <button class="btn" id="americaCentral" onclick="Mostrar('#ac')">América Central</button>
    <button class="btn" id="africa" onclick="Mostrar('#af')">África</button>
    <button class="btn" id="asia" onclick="Mostrar('#asi')">Ásia</button>
    <button class="btn" id="antartida" onclick="Mostrar('#ant')">Antartida</button>
    <button class="btn" id="oceania" onclick="Mostrar('#oce')">Oceania</button>
    <button class="btn" id="europa" onclick="Mostrar('#eu')">Europa</button>


    <div class="content" id="as">
        <button onclick="Fechar('#as')" class="x">X</button>
        <img id="image" src="https://liberal.com.br/wp-content/uploads/2020/09/capa-Monte-Roraima.jpg" alt="América do Sul">
        <h1 class="title">América do Sul</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "América do Sul") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
        
    </div>

    <div class="content" id="an">
        <button onclick="Fechar('#an')" class="x">X</button>
        <img id="image" src="https://www.melhoresdestinos.com.br/wp-content/uploads/2019/02/passagens-aereas-nova-york-capa2019-06.jpg" alt="América do Norte">
        <h1 class="title">América do Norte</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "América do Norte") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
    </div>

    <div class="content" id="ac">
        <button onclick="Fechar('#ac')" class="x">X</button>
        <img id="image" src="https://dialtour.files.wordpress.com/2014/05/costa-rica2.jpg" alt="América Central">
        <h1 class="title">América Central</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "América Central") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
    </div>

    <div class="content" id="af">
        <button onclick="Fechar('#af')" class="x">X</button>
        <img id="image" src="https://freesider.com.br/wp-content/uploads/2017/04/imagem-1.jpg" alt="África" draggable="false">
        <h1 class="title">África</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "África") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
    </div>

    <div class="content" id="asi">
        <button onclick="Fechar('#asi')" class="x">X</button>
        <img id="image" src="https://static.wixstatic.com/media/96617e_206f89276a4544a2a9d154308f987d07~mv2.jpg/v1/fit/w_1000%2Ch_1000%2Cal_c%2Cq_80/file.jpg" alt="Ásia">
        <h1 class="title">Ásia</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "Ásia") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
    </div>

    <div class="content" id="ant">
        <button onclick="Fechar('#ant')" class="x">X</button>
        <img id="image" src="https://www.icelandcampos.com.br/wp-content/uploads/2018/09/antartica2-870x480.jpg" alt="Antártida">
        <h1 class="title">Antártida</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "Antártida") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
    </div>

    <div class="content" id="oce">
        <button onclick="Fechar('#oce')" class="x">X</button>
        <img id="image" src="https://www.carpemundi.com.br/wp-content/uploads/2017/08/sydney-australia.jpg" alt="Oceania">
        <h1 class="title">Oceania</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "Oceania") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
    </div>

    <div class="content" id="eu">
        <button onclick="Fechar('#eu')" class="x">X</button>
        <img id="image" src="https://h2gconsulting.com/wp-content/uploads/2020/01/Espan%CC%83a-puerta-al-mercado-europeo-scaled-1-1200x675.jpg" alt="Europa">
        <h1 class="title">Europa</h1>
        <% continente.forEach(continente => { if(continente.NomeContinente == "Europa") { %>
            <div class="clima_Veg">
                <h2>Clima</h2> 
                <p><%= continente.Clima %></p>
            </div>
            <div class="clima_Veg">
                <h2>Vegetação</h2> 
                <p><%= continente.Bioma %></p>
            </div>
            <div class="pop_Area">
                <h2>Área</h2> 
                <p><%= continente.Area %></p>
                <button id="btnPontoTuristico">Conheça mais</button>
            </div>
            <div class="pop_Area">
                <h2>População</h2> 
                <p><%= continente.Populacao %></p>
            </div>
        <%}})%>
    </div>

    <script src="./pricipal/script.js"></script>
</body>
</html>